.Hero {
  min-height: 100vh;
  background-color: var(--myblack);
  color: var(--mywhite);
}

.main-section {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translateY(-50%);
  border-bottom: solid 0.2rem var(--myorange);
  padding: 0 0 1.2rem 0;
}

.title {
  font-size: 5.5rem;
  font-weight: 500;
  width: 100%;
}
