.ScrollArrow {
  height: 3rem;
  width: 2.5rem;
  position: fixed;
  cursor: pointer;
  right: 5%;
  bottom: 7.5%;
  scroll-behavior: smooth;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0%,
  100% {
    bottom: 7.5%;
  }
  50% {
    bottom: 5%;
  }
}
